* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body{
  background-image: url(grfx/bg.png);
  background-repeat: repeat-x;
}

#header {
  height: 229px;
  padding: 20px;
  color: #ffffff;
  background-image: url(grfx/header.jpg);
  background-repeat: no-repeat;
}

h1{
  color: black;
}

p{
  color: black;
}
#container {
  height: 810px;
  position: absolute;
  width: 800px;
  margin-left: 550px;
}

#content {
  height: 800px;
  padding: 15px;
  background-color: #ffffff;
}

ul{
  margin-top: 19%;
  left: -10px;
  list-style-type: none;
  text-decoration: none;
  position: relative;
  display: -webkit-inline-box;
}

li{
  font-size: 14px;
  margin-left: 6%;
}
h1 {
  font-size: 36px;
  margin-top: 1%;
  position: relative;
  display: -webkit-inline-box;
}

a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.kop{
  padding: 10px;
  color: #404040;
  padding-left: 8px;
}

.top-left {
  width: 190px;
  margin-right: 25px;
  margin-bottom: 12px;
  float: left;
}
.text {
  padding: 10px;
  padding-left: 2px;
  font-size: 16px;
  width: 710px;
}

.top-left2 {
  width: 250px;
  margin-right: 25px;
  margin-bottom: 12px;
  float: left;
}

.mid-right {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.bottom-left {
  width: 50%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.bottom-right {
  float: right;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
}

.top-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bottom-left1 {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bottom-left2{
float:left;
}
